
.flex{
    display: flex;
}

.textCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e17e7f;
}
.bathProducts{
    margin-top: 10px;
}

.logo{
width: 200px;
height: 100px;
    background-color: #686868;
    margin-right: 10px;
}
.header{
width: 800px;
height: 100px;
    background-color: #686868;
    margin-bottom: 10px;
}

.nav{
    width: 200px;
    height: 600px;
    background-color: #686868;
    margin-right: 10px;
}
.intro{
    width: 550px;
    height: 300px;
    background-color: #686868;
    margin-right: 10px;
}
.ad{
    width: 240px;
    height: 300px;
    background-color: #686868;
}

.store{
    width: 200px;
    height: 100px;
    background-color: #686868;
    margin-top: 10px;
}

.tools{
    width: 200px;
    height: 100px;
    background-color: #686868;
    margin-top: 10px;
}
.bath{
    width: 550px;
    height: 510px;
    background-color: #686868;
    margin-right: 10px;
}


.products{
    width: 240px;
    height: 510px;
    background-color: #686868;
}

.footer{
    width: 1010px;
    height: 200px;
    background-color: #686868;
    margin-top: 10px;
}



@media screen and (max-width: 1063px){
    .logo {
        margin: 0;
        border-right: solid gray 2px;
    }

    .nav_tools,.intro_products{
        display:contents;
    }

.all{
    display: flex;
    flex-direction: column;
}


    .nav{
        width: 100%;
        height: 100px;
        background-color: #686868;
        margin-bottom: 10px;
    }

    .store_tools{
flex-direction: row;
    }
    .store{
        order: 1;
        width: 50%;
        margin-right: 10px;
    }
    .tools{
        order: 2;
        width: 50%;
    }

    .intro{
        width: 80%;
    }
    .ad{
        width: 20%;
    }
.bathProducts{
    flex-direction: column;
}

    .bath{
        width: 100%;
    }
    .products{
        width: 100%;
        height:250px ;
        margin-top: 10px;
    }

    .footer {
        width: 100%;
        height: 150px;
    }
    .store_tools{
        order: 2;
        display: flex;
    }
}